h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
button {display: block; margin: 0 auto;}
h1 {color: orange;}
button {background-color: red;}
button {height: 50px; width: 100px;}

